.carousel-block{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-container{
    width: fit-content;
}

.carousel{
    width: 100%;
}