<div class="row floating-button">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				SubMenu
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<a href="#anchor-text"><button ngbDropdownItem >Motivação</button></a>
				<a href="#anchor-slide-one"><button ngbDropdownItem >Tipos de treinos corporais</button></a>
				<a href="#anchor-slide-two"><button ngbDropdownItem >Vídeos sobre treinos</button></a>
				
			</div>
		</div>
	</div>

	
</div>
