<div class="row floating-button">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				SubMenu
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">




				<button ngbDropdownItem [routerLink]="['/']">Formulário</button>
				
				<button ngbDropdownItem [routerLink]="['/texto1']">Motivação</button>
				

				<button ngbDropdownItem [routerLink]="['/slide1']">Àreas de treinamento</button>
				<button ngbDropdownItem [routerLink]="['/slide2']">Vídeos sobre treinamentos</button>
				<button ngbDropdownItem [routerLink]="['/texto2']">Calistenia</button>
				<button ngbDropdownItem [routerLink]="['/texto3']">CrossFit</button>
				<button ngbDropdownItem [routerLink]="['/texto4']">Fisiculturismo</button>
				

			</div>
		</div>
	</div>


</div>