

<div>

    <nav class="navbar bg-primary navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid nav-cont">
            <a class="navbar-brand" href="https://ferreiraarm.github.io/programacao-web-1/index.html">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class=" collapse navbar-collapse nav-links" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        
                        <div class="col">
                            <div ngbDropdown class="d-inline-block">
                                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                                    Atividades de Sala
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem ><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula02.html">Atividade Aula 2</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula03.html">Atividade Aula 3</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula04.html">Atividade Aula 4</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/manualAngular.html">Atividade Aula 4-Manual Angular</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula05.html">Atividade Aula 5</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula05-listas.html">Atividade Aula 5 - listas</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula05-Formulario.html">Atividade Aula 5 - Formulário</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula05-Formulario-inputs.html">Atividade Aula 5 - Formulário inputs</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula05-form-01.html">Atividade Aula 5 - Formulário de login simples</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula05-form-02.html">Atividade Aula 5 - Formulário de Cadastro Simples</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula05-form-03.html">Atividade Aula 5 - Formulário de Contato Simples</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula05-form-04.html">Atividade Aula 5 - Formulário de registro de eventos</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula05-form-05.html">Atividade Aula 5 - Formulário de Feedback simples</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula07.html">Atividade Aula 7 - CSS Simples</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/menuResponsivo.html">Atividade Aula 8 - Menu Responsivo</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula08.html">Atividade Aula 8 - CSS</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula08Formulario.html">Atividade Aula 8 - Formulário CSS</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula09.html">Atividade Aula 9</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula10.html">Atividade Aula 10- Contornos</a></button>
                                    <button ngbDropdownItem><a href="https://ferreiraarm.github.io/programacao-web-1/paginas/atividadeAula10%20-calculoPosto.html">Atividade Aula 10 - Calculo do Posto</a></button>
                                    
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://ferreiraarm.github.io/programacao-web-1/paginas/CervejasECervejarias.html">Site da Sala</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Site Angular</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>

